<div class="container prod-table center-details">
  <div class="product-header">Orders</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="orders else loading">

    <div *ngFor="let order of orders">
      <div *ngIf="screenWidth < 420">
        <p>Order number: {{ order.orderId }}</p>
        <p *ngIf="order.user else unregistered">User: <span>{{ order.user.username }}</span></p>
        <div *ngFor="let item of order.cartItems">
          <p>Product: <span>{{ item.name }}</span></p>
          <p>Price: {{ item.unitPrice }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
        <p>Total price: <span>{{ order.totalPrice }}</span></p>
        <p>Total quantity: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary button-spacing" [routerLink]="['/users','orders', order.orderId]">Address</button>
        <button class="btn btn-dark button-spacing" (click)="deleteOrderById(order.orderId)">Delete</button>
        <button class="btn btn-secondary button-spacing" (click)="goBack()">Page back</button>
      </div>
    </div>


    <div *ngIf="screenWidth >= 420">
      <div *ngFor="let order of orders">
        <p>Order number: {{ order.orderId }}</p>
        <p *ngIf="order.user else unregistered">User: <span>{{ order.user.username }}</span></p>
        <table class="table table-info table-bordered">
          <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          </tbody>
        </table>
        <p>Total price: <span>{{ order.totalPrice }}</span></p>
        <p>Total quantity: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary button-spacing" [routerLink]="['/users','orders', order.orderId]">Address</button>
        <button class="btn btn-dark button-spacing" (click)="deleteOrderById(order.orderId)">Delete</button>
        <button class="btn btn-secondary button-spacing" (click)="goBack()">Page back</button>
      </div>
    </div>

  </div>

  <div>
    <ngb-pagination [(page)]="page"
                    [pageSize]="size"
                    [collectionSize]="totalElements"
                    (pageChange)="getOrders()">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <p>Loading data..</p>
</ng-template>
<ng-template #unregistered>
  <p><span>Not registered user</span></p>
</ng-template>
