<div class="container prod-table center-details">
  <div class="product-header">Zamówienia</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="orders else loading">

    <div *ngIf="screenWidth < 420">
      <div  *ngFor="let order of orders">
        <p>Numer zamówienia: {{ order.orderId }}</p>
        <p *ngIf="order.user else unregistered">Użytkownik: <span>{{ order.user.username }}</span></p>
        <div *ngFor="let item of order.cartItems">
          <p>Produkt: <span>{{ item.name }}</span></p>
          <p>Cena: {{ item.unitPrice }}</p>
          <p>Ilość: {{ item.quantity }}</p>
        </div>
        <p>Cena całkowita: <span>{{ order.totalPrice }}</span></p>
        <p>Ilość całkowita: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary button-spacing" [routerLink]="['/users','orders', order.orderId]">Adres</button>
        <button class="btn btn-dark button-spacing" (click)="deleteOrderById(order.orderId)">Usuń</button>
        <button class="btn btn-secondary button-spacing" (click)="goBack()">Wróć</button>
      </div>
    </div>


    <div *ngIf="screenWidth >= 420">
      <div *ngFor="let order of orders">
        <p>Numer zamówienia: {{ order.orderId }}</p>
        <p *ngIf="order.user else unregistered">Użytkownik: <span>{{ order.user.username }}</span></p>
        <table class="table table-info table-bordered">
          <thead>
          <tr>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Ilość</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          </tbody>
        </table>
        <p>Cena całkowita: <span>{{ order.totalPrice }}</span></p>
        <p>Ilość całkowita: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary button-spacing" [routerLink]="['/users','orders', order.orderId]">Adres</button>
        <button class="btn btn-dark button-spacing" (click)="deleteOrderById(order.orderId)">Usuń</button>
        <button class="btn btn-secondary button-spacing" (click)="goBack()">Wróć</button>
        <hr>
      </div>
    </div>

  </div>

  <div>
    <ngb-pagination [(page)]="page"
                    [pageSize]="size"
                    [collectionSize]="totalElements"
                    (pageChange)="getOrders()">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <p>Wczytuje dane..</p>
</ng-template>
<ng-template #unregistered>
  <p><span>Niezalogowany użytkownik</span></p>
</ng-template>
