<div class="container prod-table center-details">
  <div class="product-header">Zamówienie</div>
  <div class="underline"></div>
  <hr>

  <div class="checkout">

    <form [formGroup]="checkoutFormGroup" (ngSubmit)="submitForm()">
      <div class="checkout-table">
        <div class="head">Klient</div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Imię*:</label>
            <input type="text" class="form-control" formControlName="firstName" required
                   [ngClass]="{'is-invalid':firstName.errors && firstName.touched}">

            <div class="alert alert-danger"
                 data-form="alert-firstName"
                 *ngIf="firstName.invalid && firstName.touched">
              <span *ngIf="firstName.hasError('required')">Pole nie może być puste.</span>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Nazwisko*:</label>
            <input type="text" class="form-control" formControlName="lastName" required
                   [ngClass]="{'is-invalid':lastName.errors && lastName.touched}">

            <div class="alert alert-danger"
                 data-form="alert-lastName"
                 *ngIf="lastName.invalid && lastName.touched">
              <span *ngIf="lastName.hasError('required')">Pole nie może być puste.</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Numer telefonu:</label>
          <input type="number" class="form-control" formControlName="telephone">
        </div>

        <div class="form-group">
          <label>Adres Email*:</label>
          <input type="email" class="form-control" formControlName="email" required
                 [ngClass]="{'is-invalid':email.errors && email.touched}">

          <div class="alert alert-danger"
               data-form="alert-email"
               *ngIf="email.invalid && email.touched">
            <span *ngIf="email.hasError('required')">Pole wymagane.</span>
            <span *ngIf="email.hasError('pattern')">Niepoprawny email</span>
          </div>
        </div>
      </div>

      <div class="checkout-table">
        <div class="head">Adres Dostawy</div>

        <div class="mb-3">
          <label>Państwo: </label>
          <input type="text" class="form-control" formControlName="country">
        </div>

        <div class="form-group">
          <label>Ulica*:</label>
          <input type="text" class="form-control" formControlName="street" required
                 [ngClass]="{'is-invalid':street.errors && street.touched}">

          <div class="alert alert-danger"
               data-form="alert-street"
               *ngIf="street.invalid && street.touched">
            <span *ngIf="street.hasError('required')">Pole nie może być puste.</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nr domu*:</label>
            <input type="number" class="form-control" formControlName="houseNumber" required
                   [ngClass]="{'is-invalid':houseNumber.errors && houseNumber.touched}">

            <div class="alert alert-danger"
                 data-form="alert-houseNumber"
                 *ngIf="houseNumber.invalid && houseNumber.touched">
              <span *ngIf="houseNumber.hasError('required')">Pole nie może być puste.</span>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Nr lokalu:</label>
            <input type="number" class="form-control" formControlName="apartmentNumber">
          </div>
        </div>

        <div class="form-group">
          <label>Kod pocztowy*:</label>
          <input type="text" class="form-control" formControlName="postalCode" required
                 [ngClass]="{'is-invalid':postalCode.errors && postalCode.touched}">

          <div class="alert alert-danger"
               data-form="alert-postalCode"
               *ngIf="postalCode.invalid && postalCode.touched">
            <span *ngIf="postalCode.hasError('required')">Pole nie może być puste.</span>
          </div>
        </div>

        <div class="form-group">
          <label>Miasto/Poczta*:</label>
          <input type="text" class="form-control" formControlName="city" required
                 [ngClass]="{'is-invalid':city.errors && city.touched}">

          <div class="alert alert-danger"
               data-form="alert-city"
               *ngIf="city.invalid && city.touched">
            <span *ngIf="city.hasError('required')">Pole nie może być puste.</span>
          </div>
        </div>
      </div>

      <div class="checkout-submit">
        <div>
          <div class="head">Twoje zamówienie:</div>
          <div class="text-center">
            <p>Ilość: <span>{{ totalQuantity }}</span></p>
            <p>Cena całkowita: <span>{{ totalPrice | number:'1.0-2' }}</span> PLN</p>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark" [disabled]="checkoutFormGroup.invalid">
            Zamów
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
