<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="/products">AuctioShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <form class="form-inline">
      <input #input class="form-control mr-sm-2" type="search" placeholder="Szukaj..." aria-label="Search"
             (keyup.enter)="search(input.value)">
      <button class="btn  my-2 my-sm-0" (click)="search(input.value)">Szukaj</button>
    </form>
    <div class="navbar-nav ">
      <a class="nav-item nav-link active" routerLink="/products">Home</a>
      <a *ngIf="!jwtAuthenticationService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/login">Zaloguj się</a>
      <a *ngIf="jwtAuthenticationService.isUserLoggedIn()" class="nav-item nav-link"
         (click)="jwtAuthLogout()" routerLink="/products">Wyloguj się</a>
    </div>
  </div>
  <app-cart-status></app-cart-status>
</nav>
