<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="/products" data-toggle="collapse"
     data-target=".navbar-collapse.show">AuctioShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <form class="form-inline">
      <input #input class="form-control mr-sm-2" type="search" placeholder="Szukaj..." aria-label="Search"
             (keyup.enter)="search(input.value)">
      <button class="btn  my-2 my-sm-0" (click)="search(input.value)"
              data-toggle="collapse" data-target=".navbar-collapse.show">Szukaj
      </button>
    </form>
    <div class="navbar-nav ">
      <a class="nav-item nav-link active" routerLink="/products" data-toggle="collapse"
         data-target=".navbar-collapse.show">Home</a>
      <a *ngIf="!isLoggedIn()" class="nav-item nav-link"
         routerLink="/login"
         data-toggle="collapse" data-target=".navbar-collapse.show">Zaloguj się</a>
      <a *ngIf="isLoggedIn()" class="nav-item nav-link"
         (click)="jwtAuthLogout()" routerLink="/products" data-toggle="collapse"
         data-target=".navbar-collapse.show">Wyloguj się</a>
      <a class="nav-item nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
         routerLink="/info" >Info</a>
    </div>
  </div>
  <app-cart-status></app-cart-status>
</nav>
