<div class="container prod-table table-responsive">
  <div class="menu-header menu-text">
    KATEGORIA: {{ categoryName }}
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">
      <td><img src="data:image/jpeg;base64,{{prod.productImage}}" alt="obrazek produktu"
                 height="100px"> </td>
      <td>{{ prod.name }}</td>
      <td>{{ prod.description }}</td>
    </tr>
    </tbody>
  </table>
</div>
