<div class="container prod-table table-responsive">
  <div class="menu-header menu-text">
    {{ categoryName }}
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Cena</th>
      <th scope="col">Dostępność</th>
      <th scope="col">Usuń</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">
      <td><img src="data:image/jpeg;base64,{{prod.productImage}}" alt="obrazek produktu"
                 height="150px" routerLink="/products/{{ prod.productId }}"> </td>
      <td routerLink="/products/{{ prod.productId }}">{{ prod.name }}</td>
      <td>{{ prod.unitPrice }}</td>
      <td>{{ prod.unitsInStock }} (szt.)</td>
      <td><button type="button" (click)="deleteProductById(prod.productId)" >Usuń</button></td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="products?.length == 0" class="alert alert-dark" role="alert">
    <p>Nie znaleziono produktów o podanym kryterium.</p>
    <img src="assets/images/not_found/not_found.jpg" alt="obraz z owcą - nie znaleziono produktu">
  </div>

  <div>
    <div>
    <ngb-pagination [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    [collectionSize]="totalElements"
                    (pageChange)="getProducts()">
    </ngb-pagination>
    </div>

    <div>
    <span>Ilość elementów: </span>
      <select (change)="changePageSize($event.target.value)">
        <option selected="true">4</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
      </select>
    </div>
  </div>
</div>
