<div class="container prod-table">
  <div class="menu-header menu-text">
    {{ categoryName }}
  </div>

  <div *ngIf="isAdminLoggedIn()">
    <button type="button" class="btn btn-success btn-add-product"
            [routerLink]="['/products', 'add']">Dodaj produkt
    </button>
    <hr>
  </div>


  <div class="row" *ngIf="products else loading">
    <div class="col-sm-12 col-md-6 col-xl-3" *ngFor="let prod of products">
      <div class="product-box">

        <div class="product-upper-box">
          <!--          lub [routerLink]="['/products', prod.productId]"  -->
          <div class="pick-product" routerLink="/products/{{ prod.productId }}">
            <img src="data:image/jpeg;base64,{{prod.productImage}}" alt="obrazek produktu">
            <p class="product-name"> {{ prod.name }}</p>
          </div>
          <p><span>{{ prod.unitPrice }}</span> PLN</p>
        </div>

        <div>
          <hr>
          <button type="button" class="btn btn-dark"
                  *ngIf="prod.active else soldOut" (click)="addToCart(prod)">Kup
          </button>
          <br>
          <button type="button" class="btn btn-danger" *ngIf="isAdminLoggedIn()"
                  (click)="deleteProductById(prod.productId)">Usuń
          </button>
          <br>
          <button type="button" class="btn btn-warning" style="color: white"
                  *ngIf="isAdminLoggedIn()"
                  routerLink="/products/update/" [state]="{ product: prod }">Update
          </button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="products?.length == 0" class="alert alert-dark" role="alert">
    <p>Nie znaleziono produktów o podanym kryterium.</p>
    <div class="not-found-img"></div>
  </div>

  <hr>
  <div class="page-options">
    <div>
      <ngb-pagination [(page)]="pageNumber"
                      [pageSize]="pageSize"
                      [collectionSize]="totalElements"
                      (pageChange)="getProducts()">
      </ngb-pagination>
    </div>

    <div class="pager">
      <span>Ilość elementów: </span>
      <select (change)="changePageSize($event.target.value)" class="form-control">
        <option></option>
        <option>4</option>
        <option>8</option>
        <option>16</option>
      </select>
    </div>
  </div>

</div>

<ng-template #loading>
  <p>Ładuje dane..</p>
</ng-template>
<ng-template #soldOut>
  <span style="color: red">Brak w magazynie</span>
</ng-template>
