<div class="container prod-table center-details">
  <div class="product-header">Zakup</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="order">
    <div *ngFor="let item of order.cartItems">
      <p>Nazwa: <span>{{ item.name }}</span></p>
      <p>Cena: <span>{{ item.unitPrice }}</span></p>
      <p>Ilość: <span>{{ item.quantity }}</span></p>
      <hr>
    </div>
  </div>
  <div *ngIf="!order" class="spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div>
    <button class="btn btn-primary button-spacing" (click)="goBack()">Wróć</button>
  </div>

</div>
