<div class="container prod-table">
  <div class="menu-header menu-text">
    Zarejestruj się
  </div>

  <form class="login-form text-center" *ngIf="!registerAttempt"
        [formGroup]="registration" (ngSubmit)="register()">

    <div class="form-group">
      <input type="text"
             class="form-control"
             formControlName="username"
             placeholder="Nazwa użytkownika"
             required/>

      <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
        <div *ngIf="username.hasError('required')">
          <span>Nazwa użytkownika jest wymagana.</span>
        </div>
        <div *ngIf="username.hasError('minlength')">
          <span>Pole musi zawierać przynajmniej 3 znaki.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="email"
             class="form-control"
             formControlName="email"
             placeholder="Email"
             required
             [ngClass]="{'is-invalid':email.touched && email.invalid }"/>
    </div>


    <div class="form-group">
      <input type="password"
             class="form-control"
             formControlName="password"
             placeholder="Hasło"
             required/>

      <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
        <div *ngIf="password.hasError('required')">
          <span>Hasło jest wymagane.</span>
        </div>
        <div *ngIf="password.hasError('minlength')">
          <span>Pole musi zawierać przynajmniej 3 znaki.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="password"
             class="form-control"
             formControlName="confirmPassword"
             placeholder="Powtórz hasło"
             required/>

      <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.hasError('mustMatch')">
          <span>Hasła muszą się zgadzać.</span>
        </div>
        <div *ngIf="confirmPassword.hasError('required')">
          <span>Hasło jest wymagane.</span>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registration.invalid">
      Zarejestruj
    </button>
  </form>

  <div *ngIf="registerAttempt" class="spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

</div>
