<div class="container prod-table">
  <div class="menu-header menu-text">
    Zarejestruj się
  </div>

  <form (ngSubmit)="register()" class="login-form text-center" #registerForm="ngForm">

    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Nazwa użytkownika"
             #nameModel="ngModel" [(ngModel)]="username"
             required minlength="3" maxlength="25"/>
      <div class="alert alert-danger" *ngIf="nameModel.invalid && nameModel.touched">
        <div *ngIf="nameModel.errors.required">
          <span>Nazwa użytkownika jest wymagana.</span>
        </div>
        <div *ngIf="nameModel.errors.minlength">
          <span>Pole musi zawierać przynajmniej 3 znaki.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Hasło"
             #passModel="ngModel" [(ngModel)]="password"
             required minlength="3" maxlength="250"/>
      <div class="alert alert-danger" *ngIf="passModel.invalid && passModel.touched">
        <div *ngIf="passModel.errors.required">
          <span>Hasło jest wymagane.</span>
        </div>
        <div *ngIf="passModel.errors.minlength">
          <span>Pole musi zawierać przynajmniej 3 znaki.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email"
             #emailModel="ngModel" [(ngModel)]="email"
             required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [ngClass]="{'is-invalid':emailModel.invalid && emailModel.touched}"/>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
      Zarejestruj
    </button>
  </form>
</div>
