<div class="container prod-table">
  <div class="menu-header menu-text">Dodaj produkt do bazy</div>
  <hr>

  <div class="container">
    <form #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)"
          enctype="multipart/form-data">

      <div class="form-row">
        <div class="col">
          <label>Sku:</label>
          <input type="text" class="form-control" name="sku" [(ngModel)]="sku"
                 #skuModel="ngModel" required maxlength="200">
          <div class="alert alert-danger" *ngIf="skuModel.invalid && skuModel.touched">
            <div *ngIf="skuModel.errors.required">
              Pole sku jest wymagane.
            </div>
          </div>
        </div>
        <div class="col">
          <label>Nazwa produktu:</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="name"
                 #nameModel="ngModel" required maxlength="255">
          <div class="alert alert-danger" *ngIf="nameModel.invalid && nameModel.touched">
            <div *ngIf="nameModel.errors.required">
              Nazwa produktu jest wymagana.
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>Opis produktu:</label>
        <textarea class="form-control" rows="4" name="description" [(ngModel)]="description"></textarea>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Cena:</label>
          <input type="number" class="form-control" name="unitPrice" [(ngModel)]="unitPrice"
                 #priceModel="ngModel" required min="0">
          <div class="aler alert-danger" *ngIf="priceModel.touched && priceModel.invalid">
            <div *ngIf="priceModel.errors.required">
              Cena jest wymagana.
            </div>
          </div>
        </div>
        <div class="col">
          <label>Ilość sztuk:</label>
          <input type="number" class="form-control" name="unitsInStock"
                 [(ngModel)]="unitsInStock" #unitsModel="ngModel" required min="0">
          <div class="aler alert-danger" *ngIf="unitsModel.touched && unitsModel.invalid">
            <div *ngIf="unitsModel.errors.required">
              Wpisz ilość sztuk. Minimum zero.
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group" *ngIf="categories">
        <label>Kategoria produktu:</label>
        <select class="form-control" [(ngModel)]="category" name="productCategory"
                #categoryModel="ngModel" required>
          <option *ngFor="let cat of categories" [ngValue]="cat[0]">
            {{ cat[1] }}</option>
        </select>
        <div *ngIf="categoryModel.invalid && categoryModel.touched">
          <div class="alert alert-danger" *ngIf="categoryModel.errors.required">
            Wybierz kategorię.
          </div>
        </div>
      </div>
      <br>
      <div class="custom-file">
        <input type="file" accept="image/*"
               (change)="onFileChange($event)">
      </div>

      <div class="text-center add-product">
        <button type="submit" class="btn btn-success"
                [disabled]="addProductForm.invalid">Dodaj produkt
        </button>
      </div>
    </form>

  </div>
</div>
