<div class="container prod-table center-details">
  <div class="product-header">Orders</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="orders else loading">
    <div *ngFor="let order of orders">
      <div>
        <p>Order number: {{ order.orderId }}</p>
        <p *ngIf="order.user">User: {{ order.user.username }}</p>
        <p>Total Price: <span>{{ order.totalPrice }}</span> PLN</p>
        <p>Total Quantity: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary page-button" [routerLink]="['/users','orders', order.orderId]">Address</button>
        <button class="btn btn-primary" [routerLink]="['/order_purchase']" [state]="{ order: order }">Items</button>
      </div>
      <hr>
    </div>
  </div>

  <div>
    <button class="btn btn-primary back-button" (click)="goBack()">Go back</button>
  </div>

  <div>
    <ngb-pagination [(page)]="page"
                    [pageSize]="size"
                    [collectionSize]="totalElements"
                    (pageChange)="getUserOrders()">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <p>Loading data..</p>
</ng-template>
