<div class="container prod-table center-details">
  <div class="product-header">Orders</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="orders else loading">

    <div *ngIf="screenWidth < 420">
      <div *ngFor="let order of orders">
        <p>Order number: {{ order.orderId }}</p>
        <p *ngIf="order.user">User: <span>{{ order.user.username }}</span></p>
        <p>Total Price: <span>{{ order.totalPrice }}</span> PLN</p>
        <p>Total Quantity: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary page-button" (click)="showAddress()">Address</button>
        <button class="btn btn-primary" [routerLink]="['/order_purchase']" [state]="{ order: order }">Items</button>
        <div *ngIf="isShown">
          <p>Firstname: <span>{{ order.customer.firstName }}</span></p>
          <p>LastName: <span>{{ order.customer.lastName }}</span></p>
          <p>Email: <span>{{ order.customer.email }}</span></p>
          <p>Country: <span>{{ order.customer.country }}</span></p>
          <p>Street: <span>{{ order.customer.street }}</span></p>
          <p>Home number: <span>{{ order.customer.houseNumber }}</span></p>
          <p>Apartment number: <span>{{ order.customer.apartmentNumber }}</span></p>
          <p>Postal Code: <span>{{ order.customer.postalCode }}</span></p>
          <p>City: <span>{{ order.customer.city }}</span></p>
        </div>
        <hr>
      </div>
    </div>

    <div *ngIf="screenWidth >= 420">
      <div *ngFor="let order of orders">
        <p>Order number: {{ order.orderId }}</p>
        <p *ngIf="order.user">User: <span>{{ order.user.username }}</span></p>
        <table class="table table-info table-bordered">
          <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          </tbody>
        </table>
        <p>Total Price: <span>{{ order.totalPrice }}</span> PLN</p>
        <p>Total Quantity: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary page-button" (click)="showAddress()">Address</button>
        <div *ngIf="isShown">
          <p>Firstname: <span>{{ order.customer.firstName }}</span></p>
          <p>LastName: <span>{{ order.customer.lastName }}</span></p>
          <p>Email: <span>{{ order.customer.email }}</span></p>
          <p>Country: <span>{{ order.customer.country }}</span></p>
          <p>Street: <span>{{ order.customer.street }}</span></p>
          <p>Home number: <span>{{ order.customer.houseNumber }}</span></p>
          <p>Apartment number: <span>{{ order.customer.apartmentNumber }}</span></p>
          <p>Postal Code: <span>{{ order.customer.postalCode }}</span></p>
          <p>City: <span>{{ order.customer.city }}</span></p>
        </div>
        <hr>
      </div>
    </div>

  </div>

  <div>
    <button class="btn btn-primary button-spacing" (click)="goBack()">Go back</button>
  </div>

  <div>
    <ngb-pagination [(page)]="page"
                    [pageSize]="size"
                    [collectionSize]="totalElements"
                    (pageChange)="getUserOrders()">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <p>Loading data..</p>
</ng-template>
