<div class="container prod-table center-details">
  <div class="product-header">Zamówienia</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="orders">

    <div *ngIf="screenWidth < 420">
      <div *ngFor="let order of orders">
        <p *ngIf="order.user">Użytkownik: <span>{{ order.user.username }}</span></p>
        <p>Cena całkowita: <span>{{ order.totalPrice }}</span> PLN</p>
        <p>Ilość całkowita: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary page-button" (click)="showAddress()">Adres</button>
        <button class="btn btn-primary" [routerLink]="['/order_purchase']" [state]="{ order: order }">Przedmioty</button>
        <div *ngIf="isShown">
          <p>Imię: <span>{{ order.customer.firstName }}</span></p>
          <p>Nazwisko: <span>{{ order.customer.lastName }}</span></p>
          <p>Email: <span>{{ order.customer.email }}</span></p>
          <p>Kraj: <span>{{ order.customer.country }}</span></p>
          <p>Ulica: <span>{{ order.customer.street }}</span></p>
          <p>Numer domu: <span>{{ order.customer.houseNumber }}</span></p>
          <p>Numer mieszkania: <span>{{ order.customer.apartmentNumber }}</span></p>
          <p>Kod pocztowy: <span>{{ order.customer.postalCode }}</span></p>
          <p>Miasto: <span>{{ order.customer.city }}</span></p>
        </div>
        <hr>
      </div>
    </div>

    <div *ngIf="screenWidth >= 420">
      <div *ngFor="let order of orders">
        <p *ngIf="order.user">Użytkownik: <span>{{ order.user.username }}</span></p>
        <table class="table table-info table-bordered">
          <thead>
          <tr>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Ilość</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          </tbody>
        </table>
        <p>Cena całkowita: <span>{{ order.totalPrice }}</span> PLN</p>
        <p>Ilość całkowita: <span>{{ order.totalQuantity }}</span></p>
        <button class="btn btn-primary page-button" (click)="showAddress()">Adres</button>
        <div *ngIf="isShown">
          <p>Imię: <span>{{ order.customer.firstName }}</span></p>
          <p>Nazwisko: <span>{{ order.customer.lastName }}</span></p>
          <p>Email: <span>{{ order.customer.email }}</span></p>
          <p>Kraj: <span>{{ order.customer.country }}</span></p>
          <p>Ulica: <span>{{ order.customer.street }}</span></p>
          <p>Numer domu: <span>{{ order.customer.houseNumber }}</span></p>
          <p>Numer mieszkania: <span>{{ order.customer.apartmentNumber }}</span></p>
          <p>Kod pocztowy: <span>{{ order.customer.postalCode }}</span></p>
          <p>Miasto: <span>{{ order.customer.city }}</span></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div *ngIf="!orders" class="spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div>
    <button class="btn btn-primary button-spacing" (click)="goBack()">Wróć</button>
  </div>

  <div>
    <ngb-pagination [(page)]="page"
                    [pageSize]="size"
                    [collectionSize]="totalElements"
                    (pageChange)="getUserOrders()">
    </ngb-pagination>
  </div>
</div>
