<div class="container prod-table center-details">
  <div class="product-header"> Autor</div>
  <div class="underline"></div>
  <hr>

  <div class="info text-center">

    <div>
      <p>Stworzone przez:</p>
      <p class="name">Łukasz Jankowski</p>
      <p>Wszelkie prawa zastrzeżone.</p>
      <div>
        <a href="https://www.linkedin.com/in/%C5%82ukasz-jankowski-4579791b5/" target="_blank">
          <i class="fab fa-linkedin"></i>Linkedin</a>
        <a href="https://github.com/Lukas-max" target="_blank">
          <i class="fab fa-github"></i>GitHub</a>
        <a href="https://www.youtube.com/channel/UC-htJ3PkR6xi1ff1E7Ns3Hw/videos?view_as=subscriber" target="_blank">
          <i class="fab fa-youtube"></i>YouTube</a>
      </div>
    </div>
  </div>


</div>
