<div class="container prod-table center-details" *ngIf="product">
  <div class="product-header">{{ product.name }}</div>
  <div class="underline"></div>
  <hr>

  <div class="product-wrapper">
    <div class="inner-wrapper">
      <div class="first-bar">
        <img src="data:image/jpeg;base64,{{product.productImage}}"
             alt="obrazek produktu wybranego" width="200px">
      </div>
      <div class="second-bar">
        <div class="inner-bar-one">
          <p><span>{{ product.unitPrice }}</span> PLN</p>
          <button type="button" class="btn btn-dark" (click)="addToCart(product)"
                  *ngIf="product.active">Kup</button>

          <button type="button" class="btn btn-danger" *ngIf="isAdminLoggedIn()"
                  (click)="deleteProductById(product.productId)">Usuń
          </button>
          <button type="button" class="btn btn-warning" style="color: white"
                  *ngIf="isAdminLoggedIn()"
                  routerLink="/products/update/"  [state]="{ product: product }">Update
          </button>

        </div>
        <div class="inner-bar-two">
          <span>{{ activeMessage }}</span> <br>
          <span>Ilość w magazynie: {{ product.unitsInStock }}</span>
        </div>
      </div>
    </div>

    <div class="last-bar alert alert-dark">
      <p class="p-name">{{ product.name }}</p>
      <p>{{ product.description }}</p>
    </div>
    <p><a routerLink="/products">Strona główna</a></p>
  </div>
</div>
