<div class="container prod-table center-details">
  <div class="product-header">Address</div>
  <div class="underline"></div>
  <hr>

  <div *ngIf="order else loading">
    <p>Order number: {{ order.orderId }}</p>
    <p>Total quantity: {{ order.totalQuantity }}</p>
    <p>Total price: {{ order.totalPrice }}</p>
    <p>Items: </p>
    <div *ngFor="let item of order.cartItems">
      <hr>
      <p>Nazwa: {{ item.name }}</p>
      <p>Ilość: {{ item.quantity }}</p>
      <p>Cena: {{ item.unitPrice }} </p>
    </div>
    <div>
      <p>Address:</p>
      <p>Firstname: {{ order.customer.firstName }}</p>
      <p>LastName: {{ order.customer.lastName }}</p>
      <p>Email: {{ order.customer.email }}</p>
      <p>Country: {{ order.customer.country }}</p>
      <p>Street: {{ order.customer.street }}</p>
      <p>Home number: {{ order.customer.houseNumber }}</p>
      <p>Apartment number: {{ order.customer.apartmentNumber }}</p>
      <p>Postal Code: {{ order.customer.postalCode }}</p>
      <p>City: {{ order.customer.city }}</p>
    </div>
  </div>

  <div>
    <button class="btn btn-primary button-spacing" (click)="goBack()">Go back</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading data..</p>
</ng-template>
